### Q2

2. Provide a program to read the CSV file.
• CSV file has three columns, the first column names, the second column is birthdate(YYYYMM-
DD) the third column is salary.
• Read the file and display the data and age in the terminal.
• The file path, delimiter, and quote char are the input by the user.
• The program has to work from the terminal. The input and output have been taken/displayed
on the terminal.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('exam.csv')

In [7]:
df

    Names   Birthdate  Salary
0  Oliver  22/08/1990  350000
1    Noah  18/06/1985  450000
2   Harry  07/10/1989  360000

In [9]:
list_of_column_names = list(df.columns)
 
print('List of column names : ',list_of_column_names)

List of column names :  ['Names', 'Birthdate', 'Salary']

In [11]:
import pandas as pd
from datetime import datetime, date
  
def age(born):
    born = datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))
  
df['Age'] = df['Birthdate'].apply(age)
  
display(df)

    Names   Birthdate  Salary  Age
0  Oliver  22/08/1990  350000   32
1    Noah  18/06/1985  450000   37
2   Harry  07/10/1989  360000   33