# Q4

.4. Provide a program to read the file from URL and display the content
in terminal.
• The file URL has to be input by the user.
• The program has to work from the terminal. The input and output have been taken/displayed
on the terminal.

# 1st method

In [29]:
import webbrowser  
a=input("Enter the your URL")
url= a  
webbrowser.open_new_tab(url)

Enter the your URL https://www.google.com/

True

# 2nd method

In [ ]:
import pandas as pd
a=input("Enter the url csv file") #%alias_magic
df = pd.read_csv(a)
print (df)

# Q3

In [30]:
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf')))
c

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]