5. Provide a program to create tables (Employee, Department,
Project) in database Sqlite and insert the data.
• Make sure to add basic field, with employee to department and project relation.
• Make sure maintain M2M relation between employee and project.

In [1]:
import pymysql as pm

In [19]:
import pymysql as pm

db = pm.connect(host="localhost",
                user="root",
                password="",
                database="taskmaster",)

mycursor =db.cursor()

mycursor.execute("create table employee (empid int NOT NULL PRIMARY KEY,empname VARCHAR(255), address VARCHAR(255),empmobile int)")

mycursor.execute("create table department(depid int,department_name VARCHAR(255))")

mycursor.execute("create table project(projectid int,projectname VARCHAR(255))")

0

In [34]:
import pymysql as pm

db = pm.connect(host="localhost",
                user="root",
                password="",
                database="taskmaster")

mycursor =db.cursor()
sql = "INSERT INTO employee (empid, empname,address,empmobile) VALUES (%s, %s,%s,%s)"
val = [
(1,'Mahesh','Mumbai',8596741230),
(2,'Vikram','Satara',7894561230),
(3,'Tanaji',"Kolhapur",7895463201)
]

mycursor.executemany(sql, val)

3

In [35]:
import pymysql as pm

db = pm.connect(host="localhost",
                user="root",
                password="",
                database="taskmaster")

mycursor =db.cursor()
sql = "INSERT INTO department (depid, department_name) VALUES (%s, %s)"
val = [
(1,'Manager'),
(2,'Executive'),
(3,'Lead')
]

mycursor.executemany(sql, val)

3

In [37]:
import pymysql as pm

db = pm.connect(host="localhost",
                user="root",
                password="",
                database="taskmaster")

mycursor =db.cursor()
sql = "INSERT INTO project (projectid, projectname) VALUES (%s, %s)"
val = [
(1,'Gizmo'),
(2,'Powergizmo'),
(3,'SingleTouch')
]

mycursor.executemany(sql, val)

3

In [47]:
import pymysql as pm

db = pm.connect(host="localhost",
                user="root",
                password="",
                database="taskmaster",)

mycursor =db.cursor()

sql = "SELECT \
  employee.empname AS employee, \
  project.projectname AS project \
  FROM employee \
  INNER JOIN project ON employee.empid = project.projectid"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
print("executed")

executed